img{
    width: 400px;
}
body{
    color: red;
    text-align: center;
    font-family: "Arial";
     background: url("https://media.giphy.com/media/3oEjHWbXcpeKhTktXi/giphy.gif") no-repeat center center fixed; 

}